@import url("./config.less");
.independentStore {
    width: 100%;
    .flexLayout();
    padding: 0 15px 30px 15px;
    flex-direction: column;
    .form-cell {
        .flexLayout();
        height: 80px;
        width: 100%;
        align-items: center;
        flex-direction: row;
        .form-item {
            width: 50%;
            .flexLayout();
        }
        .button-group {
            .flexLayout();
            width: 50%;
            height: 80px;
            align-items: center;
            justify-content: flex-end;
        }
    }
    .chart-wrap {
        border-radius: 4px;
        background-color: #fff;
    }
    .area-total-overview {
        width: 100%;
        position: relative;
        margin: 15px 0;
        background-color: #fff;
    }
    .area-button-group {
        position: absolute;
        z-index: 20;
        top: 30px;
        right: 15px;
    }
    .top-list-and-passenger-flow {
        width: 100%;
        .flexLayout();
        flex-direction: row;
        margin: 15px 0 0 0;
        .wrap-cell-50 {
            width: 50%;
            padding-bottom: 15px;
            position: relative;
            .wrap-cell-padding {
                width: 100%;
                background-color: #fff;
                padding-bottom: 15px;
                .wrap-cell-title {
                    width: 100%;
                    height: 66px;
                    align-items: center;
                    .flexLayout();
                    span {
                        font-size: 18px;
                        color: #3a3a3a;
                        font-weight: bold;
                        padding-left: 15px;
                    }
                }
            }
            .card-cell-wrap {
                width: 100%;
            }
        }
    }
    .daily-market-wrap {
        .flexLayout();
        padding: 0 15px;
        flex-direction: row;
        margin: 52px 0;
        .trt4redsafdsffdf {
            width: 80%;
            flex-direction: row;
            .flexLayout();
            align-items: center;
            height: 80px;
            position: relative;
            .a8534u9rtiewohds {
                width: 80px;
                height: 80px;
                .flexLayout();
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 1px solid #137F9D;
                background: rgba(30, 135, 240, 0.10);
                font-size: 14px;
                color: #000A12;
            }
            .a8534u9rtiesdfds {
                font-size: 20px;
                color: #000A12;
                margin-left: 20%;
            }
            .a853fsdffiesdfds {
                color: #137F9D;
                font-size: 20px;
                margin-left: 20%;
            }
        }
        .dfdfffff23rwt5y4 {
            width: 20%;
            color: #232425;
            font-size: 20px;
            align-items: center;
            .flexLayout();
            justify-content: flex-end;
            padding-right: 15px;
        }
    }
    .progress-wrap {
        width: 100%;
        .flexLayout();
        flex-direction: row;
        position: relative;
        .progress-content {
            width: 100%;
            align-items: center;
            justify-content: center;
            .flexLayout();
        }
        .progress-item {
            width: 30%;
            align-items: center;
            justify-content: flex-start;
            .flexLayout();
            line-height: 28px;
        }
    }
    .weather-chart-wrap {
        width: 100%;
        margin-top: 15px;
        .weather-chart {
            width: 100%;
            background-color: #fff;
            border-radius: 4px;
        }
    }
}